footer.footer
  .container.footer__content
    .footer__logo.img-responsive
      a(href="#")
        img(src="images/logo.svg" alt="")
    .footer__social
      span.footer__social-label Следите за нами:
      a(href="#").footer__social-link.instagram
        include ../../images/icons/instagram.svg
      a(href="#").footer__social-link.facebook
        include ../../images/icons/facebook.svg
      a(href="#").footer__social-link.telegram
        include ../../images/telegrammm.svg
