header.header
  .container.header__content
    .header__logo.img-responsive
      a(href="#")
        img(src="images/logo.svg" alt="")

    nav.navigation
      a(href="#").navigation__link Кальяны
      a(href="#").navigation__link Аксессуары
      a(href="#").navigation__link FAQ
      a(href="#").navigation__link Доставка
      a(href="#").navigation__link Контакты

    .header__group
      .language
        span.language__active Ru
        ul.language__list
          li.language__item.active Ru
          li.language__item En
          li.language__item Esp
          li.language__item Fra

      .header__basket-icon 2
