extends layout/main

block variables
  - var title = 'Index page'

block content
  include modules/product

  include modules/tiles

block scripts
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js')
  script(src='js/app.min.js')
