.header {
  padding: 18px 0;
  background: #020103;
  box-shadow: 0 1px 0 #494E5B;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    width: rem(131);

    @media (max-width: 960px) {
      width: rem(110);
    }

    img {
      display: block;
    }
  }
  &__group {
    display: flex;
    align-items: center;
  }
  &__basket-icon {
    width: rem(28);
    height: rem(28);
    padding-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    //background: url('../images/basket.svg') no-repeat center;
    //background-size: contain;
    margin-left: rem(24);
    cursor: pointer;

    font-weight: 400;
    font-size: rem(12);
    line-height: rem(15);
    color: #fff;

    @media (max-width: 960px) {
      margin-left: rem(18);
    }
  }
}
